.container {
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 100px;
  margin-bottom: 32px;
  background: #FFFFFF;
  opacity: 0.7;
  border: 2px solid rgba(204, 210, 226, 0.75);
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  border-radius: 7px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color:black;
}
.deleteIcon {
  width: "16px";
  height: "16px";
}
.search {
  display: flex;
  flex-direction: row;
}
.selectCheck {
  width: 225px;
  border-right: 2px solid rgba(204, 210, 226, 0.75);
  border-bottom: 2px solid rgba(204, 210, 226, 0.75);
  padding: 24px;
}
.checkbox {
  margin-right: 10px;
  padding-top: 24px;
  width: 16px;
  height: 16px;
  background:  2px solid rgba(204, 210, 226, 0.75);
  border: 2px solid rgba(204, 210, 226, 0.75);
  border-radius: 4px;
}
.searchBarContainer {
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid rgba(204, 210, 226, 0.75);
}
.searchbar {
  margin-left: auto;
  background: #ffffff;
  border: 2px solid rgba(204, 210, 226, 0.75);
  box-sizing: border-box;
  border-radius: 4px;
}
.bar {
  width: 245px;
  height: 32px;
  left: 0px;
  top: 0px;
  border: none;
}
.bar:focus {
  outline: none;
}
.sort{
  display: flex;
  flex-direction: row;
}

.sortBy {
  padding: 24px;
  width: 110px;
  border-right: 1px solid rgba(230, 232, 238, 0.75);
}

.sortContrl {
  padding: 22px;
}

.sortBtn {
  padding-bottom: 13px;
  width: 70px;
  height: 25px;
  background: white;
  box-sizing: border-box;
  border-radius: 2px;
  margin-left: 24px;
  cursor: pointer;
  text-align: center;
  border: 2px solid rgba(204, 210, 226, 0.9);
}

.active {
  padding-bottom: 13px;
  width: 70px;
  height: 25px;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 24px;
  cursor: pointer;
  text-align: center;
  background: rgba(0, 153, 255, 0.08);
  border: 2px solid #0099ff;
  background: #a7d3f0;
  color: white;
}
.sortBtn:hover{
  border: 2px solid #0099ff;
  background:  #a7d3f0;
  color: black;
}

